.DS_Store
pkg
build
*.sublime-workspace
bin

*.pyc

xcuserdata

Cny4go/src/github.com/Centny/Cny4go

*.out

*.json

Cny4go/coverage.xml

Cny4go/coverage.html

Cny4a/TServer/data

Cny4go/data
RCmd/out

Cny4a/TServer/TServer

Cny4a/TServer/ts.lock

Cny4a/TServer/ts.pid

TDb/src/github.com/Centny/TDb

Excel/TestCode/lib
